<div class="col-lg-4">
	<div class="card text-left bg-light" style="width:100%;padding:5px;">
		<a href="<%= url %>">
			<img class="card-img-top img-thumbnail" src="<%= image %>" style="height:250px;overflow:hidden" alt="Card Image Cap">
			<div class="card-block">
				<h4 class="card-title"><%= title %></h4>
				<h6 class="card-subtitle mb-2 text-muted"><%= url %></h6>
				<p class="card-text"><%= description %></p>
			</div>
		</a>
	</div>
</div>
